<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  Sport Zone
</div>
<div class="subtitle">
  Magazin de articole sportive
</div>
<p></p>
<div>
  <ul>
    <div *ngFor='let bar of bars'>
      <li>
        <a (click)="selectTab(bar.type)">
          {{bar.name}}
        </a>
      </li>
    </div>
    <li><a (click)="selectTab(4)">Coșul tău</a></li>
  </ul>
</div>

<div *ngFor='let bar of bars'>
  <tabs [bar]="bar.type" *ngIf="isSelected(bar.type)"></tabs>
</div>
<app-cos *ngIf="isSelected(4)"></app-cos>





