<div *ngFor='let article of articles'>
  <div class="wrapper">
    <div class="product-img" >
      <img [src]="article.image" height="220" width="200">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{article.name}}</h1>
        <p> {{article.description}} </p>
      </div>
      <div class="product-price-btn">
        <p><span>{{article.price}}</span>$</p>
        <div>
          <button type="button" class="soldOut">Renunta</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="articles === null" class="gol"> Cosul este gol</div>
